
@model PropertyModel

@{
    ViewData["Title"] = "Add new Property";
}


@using (Html.BeginForm("AddPropertyMethod", "Home", FormMethod.Post))
{
    <form>
        <div>
            <label for="address">Address:</label>
            @Html.TextBoxFor(property => property.address, new { @type = "text", @size = "40", @placeholder = "99 Strawberry Lane", @required = "true" })
        </div>
        <div>
            <label for="description">Description:</label>
            @Html.TextBoxFor(property => property.description, new { @type = "text", @size = "40", @placeholder = "Penthouse with a view", @required = "true" })
        </div>
        <div>
            <label for="surface">Surface Area (m2):</label>
            @Html.TextBoxFor(property => property.surface, new { @type = "text", @size = "40", @placeholder = "107.4", @required = "true" })
        </div>
        <div>
            <label for="services">Services:</label>
            @Html.TextBoxFor(property => property.services, new { @type = "text", @size = "40", @placeholder = "Wi-Fi, Laundry, Pool", @required = "true" })
        </div>
        @Html.HiddenFor(property => property.descriptions.englishDescription)
        @Html.HiddenFor(property => property.descriptions.italianDescription)
        @Html.HiddenFor(property => property.descriptions.polishDescription)
        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>
}





