@model TableModel

<div class="row">
    <table class="arrowes-table table-striped">
        <thead>
            <tr>
                <th>Property Address</th>
                <th>Property Description</th>
                <th>Surface Area (m2)</th>
                <th>Services</th>
                <th>Room Description</th>
                <th>Room Surface Area (m2)</th>
                <th>Beds in Room</th>
                <th>Delete Room</th>
                <th>Delete Property</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var property in Model.properties)
            {
                <tr>
                    <td width="21%">
                        @Html.ActionLink(property.Address, "UpdateProperty", "Home", new { propertyID = property.Id, index = 1 })
                    </td>
                    <td width="14%">
                        @Html.ActionLink(property.Description, "UpdateProperty", "Home", new { propertyID = property.Id, index = 2 })
                    </td>
                    <td width="5%">
                        @Html.ActionLink(property.Surface.ToString(), "UpdateProperty", "Home", new { propertyID = property.Id, index = 3 })
                    </td>
                    <td width="17%">
                        @Html.ActionLink(property.Services, "UpdateProperty", "Home", new { propertyID = property.Id, index = 4 })
                    </td>
                    <td width="18%">
                        <ul class="list-unstyled">
                            @foreach (var item in Model.rooms)
                            {
                                if (item.propertyID == property.Id)
                                {
                                    <li>@Html.ActionLink(@item.description, "UpdateRoom", "Home", new { roomID = item.roomID, index = 1 })</li>
                                }
                            }
                        </ul>
                    </td>
                    <td width="10%">
                        <ul class="list-unstyled">
                            @foreach (var item in Model.rooms)
                            {
                                if (item.propertyID == property.Id)
                                {
                                    <li>@Html.ActionLink(@item.surface.ToString(), "UpdateRoom", "Home", new { roomID = item.roomID, index = 3 })</li>
                                }
                            }
                        </ul>
                    </td>
                    <td width="5%">
                        <ul class="list-unstyled">
                            @foreach (var item in Model.rooms)
                            {
                                if (item.propertyID == property.Id)
                                {
                                    <li>@Html.ActionLink(@item.beds.ToString(), "UpdateRoom", "Home", new { roomID = item.roomID, index = 2 })</li>
                                }
                            }
                        </ul>
                    </td>
                    <td width="5%">
                        <ul class="list-unstyled">
                            @foreach (var item in Model.rooms)
                            {
                                if (item.propertyID == property.Id)
                                {
                                    <li>@Html.ActionLink("X", "DeleteConfirmation", "Home", new { ID = item.roomID, index = 2 })</li>
                                }
                            }
                        </ul>
                    </td>
                    <td width="5%">
                        @Html.ActionLink("X", "DeleteConfirmation", "Home", new { ID = property.Id, index = 1 })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>