@model PropertyModel

@{
    ViewData["Title"] = "Property Description";
}

<h1>@ViewData["Title"]</h1>

<p>Here is all available info on the selected property.</p>

<div>
    @Html.ActionLink(@Model.address, "UpdateProperty", "Home", new { propertyID = Model.PropertyID, index = 1 })
    <hr />
</div>
<div>
    @Html.ActionLink(@Model.description, "UpdateProperty", "Home", new { propertyID = Model.PropertyID, index = 2 })
    <hr />
</div>
<div>
    @Html.ActionLink(@Model.surface.ToString(), "UpdateProperty", "Home", new { propertyID = Model.PropertyID, index = 3 })
    <hr />
</div>
<div>
    @Html.ActionLink(@Model.services, "UpdateProperty", "Home", new { propertyID = Model.PropertyID, index = 4 })
</div>